[Unit]
Description=streama
After=network.target

[Service]
WorkingDirectory=/opt/streama/
User=streama
Group=users
Type=simple
UMask=000
ExecStart=/usr/bin/java -Djava.awt.headless=true -jar streama.jar
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
